.spinner-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  
  .story {
    margin-bottom: 10px;
  }

  table, th, td {
    border:1px solid black;
  }

  table{
      width: 100%;
      border-style: dashed;
  }